<div class="content container">
  <%= render partial: "profiles/search" %>
  
  <p id="notice"><%= notice %></p>
  </br>
  <h3>Profiles</h3>
  
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Bio</th>
        <th>Country</th>
        <th>Interests</th>
        <th>User</th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
      <% @profiles.each do |profile| %>
        <tr>
          <td><%= profile.name %></td>
          <td><%= profile.user.email %></td>
          <td><%= profile.bio %></td>
          <td><%= profile.country.name %></td>
          <td><%= profile.interests.pluck(:name).to_sentence %></td>
          <td><%= link_to 'Show', profile %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>