<div class="container content">
  <%= render partial: "profiles/search" %>

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @profile.bio %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= @profile.country.name %>
  </p>

  <p>
    <strong>Interests:</strong>
    <ul>
      <% @profile.interests.each do |interest| %>
        <li><%= interest.name %></li>
      <%  end%>
    </ul>
  </p>

  <% if current_user.profile == @profile %>
    <%= link_to 'Edit', edit_profile_path(@profile) %>
  <% else %>
    <%= link_to 'Start a new conversation', profile_conversations_path(@profile), method: :post %>
  <% end %>
</div>