<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<p>
  <strong>Country:</strong>
  <%= @profile.country_id %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @profile.interests %>
</p>


<%= link_to 'Edit', edit_profile_path %> |
<%= link_to 'Back', profile_path %>
