<%= form_with(model: ngo, local: true) do |form| %>
  <% if ngo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ngo.errors.count, "error") %> prohibited this ngo from being saved:</h2>

      <ul>
      <% ngo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ngo_name %>
  </div>

  <div class="field">
    <%= form.label :bio %>
    <%= form.text_area :bio, id: :ngo_bio %>
  </div>

  <div class="field">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, id: :ngo_image_url %>
  </div>

  <div class="field">
    <%= form.label :interest %>
    <%= form.text_field :interest, id: :ngo_interest %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
