<div class="content container">
  <div class="row">
    <%= render partial: 'list', locals: { conversations: @conversations } %>

    <div class="col-md-9">
      <div class="row" id="conversation-list">
        <%= render partial: 'messages', locals: { messages: @conversation.messages } %>
      </div>
      
      <div class="row">
        <%= form_with(model: @conversation.messages.build, url: send_message_profile_conversation_path(current_user.profile, @conversation), remote: true) do |f| %>
          <div class="row">
            <%= f.text_area :content %>  
          </div>
          <div class="row">
            <%= f.button :send %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>