<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Popac" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Popac</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "About", about_path  %></li>
            <li><%= link_to "Contact", contact_path  %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Profile", profile_path  %></li>
              <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
            <% end %>
           </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
        <div class="col-lg-3">
          <div class="well sidebar-nav">
            <h3>Follow us</h3>
            <ul class="nav nav-list">
              <li class="nav-header"></li>
              <li><%= link_to "Facebook", "/path1"  %></li>
              <li><%= link_to "Twitter", "/path2"  %></li>
              <li><%= link_to "Instagram", "/path3"  %></li>
            </ul>
          </div><!--/.well -->
          <!-- MARIAH: search -->
          <% if user_signed_in? %>
          <div class="searchbox">
            <div class="BoxHeaders"> 
            <h3>Search</h3>
            <%= form_tag(profile_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search another user" %>
            <%= submit_tag "Search" %>
            <% end%>
          </div>
          <% end %>
        </div><!--/span-->
      </div><!--/row-->

      <footer>
        <p>&copy; PoPac NGOs 2017</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
